:root{
    --gray-color: #eeeeee;
    --white-color: #F7F7F7;
    --black-color: #000000;
    --black-high-visibility-color: #00000090;
    --green-color: #44AA00;
    --green-color-visibility-color: #44AA0070;
    --dark-green-color: #135E01;
    
    
}